{% extends 'base_usuario.html' %}
{% block titulo %} Bienvenido {%endblock%}
{% block contenido %}
    <div class="well sponsor">
        <h3 align="center"> Mis Mascotas </h3>
        <div class="clearfix">
                  <div class="well bs-component">
                                <form id='formulario' method='post' enctype='multipart/form-data' action='/agregar/mascota/'>{% csrf_token %}
                                    {% if estado == 2 %}
                                        <div class="alert alert-dismissable alert-danger">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <strong>Uy!</strong> <a href="#" class="alert-link">Compruebe si escribio mal los datos</a> quizas  ya existe la mascota.
                                        </div> 
                                    {% endif%}
                                    {% if estado == 1 %}
                                        <div class="alert alert-dismissable alert-success">
                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                            <strong>Felicitaciones!</strong> Ha agregado una nueva mascota <a href="/bienvenido" class="alert-link"> ver Mis mascotas</a>.
                                        </div>
                                    {%endif%}    
                                <form id='formulario' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="nombre" class="col-lg-2 control-label">Nombre</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="id_nombre"  name="nombre" placeholder="Nombre" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="edad" class="col-lg-2 control-label">Edad</label>
                                            <div class="col-lg-10">
                                                <input type="text" class="form-control" id="id_edad"  name="edad" placeholder="Edad" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="imagen" class="col-lg-2 control-label">Imagen</label>
                                            <div class="col-lg-10">
                                                <input type="file" class="form-control" id="id_imagen"  name="imagen" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="tipo" class="col-lg-2 control-label">Tipo</label>
                                            <div class="col-lg-10">
                                                <select class="form-control" id="tipo"  name="tipo" >
                                                    <option value="1">Gato</option>
                                                    <option value="2">Perro</option>
                                                </select>
                                            </div>
                                        </div>
                                    </fieldset>
                            </div>   
                        </div>
                        <div class="modal-footer" >
                            <a href="/bienvenido" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</a>
                            <input type='submit' class="btn btn-primary" value='Reegistrar'/>
                        </div>
                        </form>
                    </div>

        </div>
    </div>
{% endblock %}