{% extends 'base_usuario.html' %}
{% block titulo %} Bienvenido {%endblock%}
{% block contenido %}
    <div class="well sponsor">
        <h3 align="center"> Mis Mascotas </h3>
        <div class="clearfix">
                <a href="#" style="padding: 5px 5px 5px 5px; margin-left: 30px; margin-top:5px;   " class="btn btn-info">Agregar mascota</a>
                <h3 style=" margin-left: 40px;"> Tom </h3>
                <div style=" margin-left: 40px;"></div>
                <div style=" margin-left: 40px;" ><img src="{{ STATIC_URL }}img/cat.jpg" class="img-responsive" ></a></div>
        </div>
    </div>
{% endblock %}