{% extends 'base_usuario.html' %}
{% block titulo %} Bienvenido {%endblock%}
{% block contenido %}
    <div class="well sponsor">
        <h3 align="center"> Mis Mascotas </h3>
        <div class="clearfix">
                <a href="#" style="padding: 5px 5px 5px 5px; margin-left: 30px; margin-top:5px;   " class="btn btn-info">Agregar mascota</a>
                {% for lista in mascotas %}
                    <h3 style=" margin-left: 40px;"> {{ lista.nombre }} </h3>
                    <div style=" margin-left: 40px;"></div>
                    <div style=" margin-left: 40px;" >
                        <img src="{{MEDIA_URL}}{{lista.imagen}}" class="img-responsive" >
                    </div>
                {%endfor%}
        </div>
    </div>
{% endblock %}