{% extends 'base.html' %}
{%block titulo%} P&iacute;gina inicial {%endblock%}
{%block contenido%}
    <h2>Preguntas Frecuentes</h2>
    <p>
        Viral ethnic enim banjo shabby chic, vero plaid chambray slow-carb tempor. Normcore Etsy mustache actually, Wes Anderson et nostrud enim. Lo-fi food truck chia raw denim, occupy magna anim est. Cliche narwhal fap chambray dolore, flexitarian aute letterpress. Occaecat hella Carles distillery salvia single-origin coffee. Lo-fi locavore meh umami four loko. Nihil bicycle rights sriracha aesthetic, bitters trust fund meggings stumptown.
        Elit placeat Schlitz, non velit hoodie ullamco kitsch chillwave lomo. Pork belly assumenda mollit readymade next level. Mlkshk typewriter Bushwick, brunch sint ex selvage ethnic. Paleo vegan 3 wolf moon actually cred, consectetur Portland. Dreamcatcher PBR street art four loko incididunt pug. Next level lomo ethical irure. Gluten-free keytar cillum, American Apparel semiotics Marfa selfies Etsy Schlitz church-key cred consequat hoodie nulla.
    </p>
{% endblock%}
