{% extends 'base_usuario.html' %}
{% block titulo %} Medicos {%endblock%}
{% block contenido %}
    <div class="well sponsor">
        <h3 align="center"> Vacunas {% if tipo == 1%} Para Gatos {% else %} Para perros {%endif%} </h3>
        <div class="clearfix">  
            <form name="" method="post" action="/mascotaVacuna/" >{% csrf_token %}
                {% for lista in vacunas %}
                    <h3 style=" margin-left: 40px;"> {{ lista.titulo }} </h3>

                                    <div style=" margin-left: 40px;"><input type="checkbox" value="{{lista.id }}" name="vacuna[]" > {{lista.descripcion}} </div> 
                            
                    {% empty %}
                    <div class="col-md-9 padding">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p class="lead"></p>
                                <h3> No hay vacunas programadas </h3>
                            </div>
                        </div>
                    </div>               
                    
                {% endfor %}
                <input type="hidden" name="mascota" value="{{mascotaId}}">
                <div class="modal-footer" >
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <input type='submit' class="btn btn-primary" value='Guardar'/>
                        </div>
            </form>   
        </div>
    </div>
{% endblock %}